<section class="contentbox">
  <h2>The Project</h2>
  <p>ISS Flyby was intended as a project to build an unique application in a limited timeframe. The overall development time from start to launch was roughly 15 evenings. The project is entirely open source under an MIT license, and we are encouraging code contributions and ideas on Github.(<a href="https://github.com/mkbehbehani/issflyby.git">https://github.com/mkbehbehani/issflyby.git</a>) 

  Once a user agrees to connect, ISS Flyby requests the current latitude and longitude from Google Glass. It does this through the Google Glass Mirror API, which greatly sped up development time and allowed pure use of web languages. The application connects to several external API's for the ISS position, pass times, and compares it against sunrise, sunset and cloud conditions in the Google Glass position. This process is repeated roughly every ten minutes. 

  When an ISS flyby clears all requirements for dark skies and good weather, the user is sent a card about 10 minutes before the ISS will come by. The idea is that the user will have time to gather up friends and go take a look. The user can also tap on the card, and view a listing of all astronauts currently on board as it flies by. 
  </p>

</section>
<section class="contentbox">
	<h2>Images</h2>
  <div></div>

</section>
<footer class="contentbox">
    Everything on this press page is licensed as public domain under the creative commons CC0 license. Please feel free to publish it in any manner you wish.

      <p id="mashallah" xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
            <a rel="license"
               href="http://creativecommons.org/publicdomain/zero/1.0/">
              <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
            </a>
            <br />
            To the extent possible under law,
            <a rel="dct:publisher"
               href="issflyby.com/press">
              <span property="dct:title">Mashallah Behbehani</span></a>
            has waived all copyright and related or neighboring rights to
            <span property="dct:title">Press Page</span>.
          This work is published from:
          <span property="vcard:Country" datatype="dct:ISO3166"
                content="US" about="issflyby.com/press">
            United States</span>.
      </p>

      <p id="ben" xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
          <a rel="license"
             href="http://creativecommons.org/publicdomain/zero/1.0/">
            <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
          </a>
          <br />
          To the extent possible under law,
          <a rel="dct:publisher"
             href="issflyby.com/press">
            <span property="dct:title">Ben Nelson</span></a>
          has waived all copyright and related or neighboring rights to
          <span property="dct:title">Press Page</span>.
          This work is published from:
          <span property="vcard:Country" datatype="dct:ISO3166"
                content="US" about="issflyby.com/press">
          United States</span>.
      </p>
</footer>