<section>
	<h2>Images</h2>
	<aside>
	    Everything on this press page is licensed as public domain under the creative commons CC0 license. Please feel free to publish it in any manner you wish.
	
        <p id="mashallah" xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
              <a rel="license"
                 href="http://creativecommons.org/publicdomain/zero/1.0/">
                <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
              </a>
              <br />
              To the extent possible under law,
              <a rel="dct:publisher"
                 href="issflyby.com/press">
                <span property="dct:title">Mashallah Behbehani</span></a>
              has waived all copyright and related or neighboring rights to
              <span property="dct:title">Press Page</span>.
            This work is published from:
            <span property="vcard:Country" datatype="dct:ISO3166"
                  content="US" about="issflyby.com/press">
              United States</span>.
        </p>

        <p id="ben" xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
            <a rel="license"
               href="http://creativecommons.org/publicdomain/zero/1.0/">
              <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
            </a>
            <br />
            To the extent possible under law,
            <a rel="dct:publisher"
               href="issflyby.com/press">
              <span property="dct:title">Ben Nelson</span></a>
            has waived all copyright and related or neighboring rights to
            <span property="dct:title">Press Page</span>.
            This work is published from:
            <span property="vcard:Country" datatype="dct:ISO3166"
                  content="US" about="issflyby.com/press">
            United States</span>.
        </p>
	</aside>
</section>