$darkpurple:#372049;
$purple:#5D4970;
$lightpurple:#F1BAF3;
$lightestpurple:#FAEEFF;
$darkgray:#222222;
$gray: #59535E;
$lightgray: #E2E2E2;
$cream: #F7F5F2;
$lightblue: #77BED2;
$spacered: #EC3642;

// Brand Colors

$google: #dd4b39;
$github: #4183c4;

// Brand Color Classes

.google{color: $google;}