@import "neat-helpers";
// Bourbon Neat outer-container max-device-width
$max-width: 1400px;

$cinemadisplay-min-width:2500px;
$largedesktop-max-width:2499px;
$largedesktop-min-width:2001px;
$desktop-max-width:2000px;
$desktop-min-width:1280px;
$tablet-max-width:1279px;
$tablet-min-width:767px;
$largemobile-max-width: 766px;
$largemobile-min-width:321px;

// Bourbon Neat Breakpoints
$largemobile: new-breakpoint(min-device-width $largemobile-min-width max-device-width $largemobile-max-width, 12);
$ipad: new-breakpoint(min-device-width $tablet-min-width max-device-width $tablet-max-width, 12);
$desktop: new-breakpoint(min-device-width $desktop-min-width max-device-width $desktop-max-width , 12);
$largedesktop: new-breakpoint(min-device-width $largedesktop-min-width max-device-width $largedesktop-max-width, 12);
$cinemadisplay: new-breakpoint(min-device-width $cinemadisplay-min-width max-device-width 3000px,  12);