@import "neat-helpers";
// Bourbon Neat outer-container max-width
$max-width: 1400px;

$mobile-size:320px;
$tablet-width:720px;
$tablet-height:1024px;
$desktop-size:1200px ;
$largedesktop-size:1600px;
$cinemadisplay-size:1800px;

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-device-width $mobile-size, 12);
$ipad: new-breakpoint(min-device-width $tablet-width max-device-width $tablet-height, 12);
$desktop: new-breakpoint(min-width $desktop-size, 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size, 12);
$cinemadisplay: new-breakpoint(min-width $cinemadisplay-size, 12);