@import "normalize";
@import "bourbon";
@import "gridsettings";
@import "neat";
@import "colors";
@import "components";
@import "stars";
//ALL STYLES ARE MOBILE-FIRST, BASED ON IPHONE 5
html, body { height: 100%; width: 100%; margin: 0; }
body{
	@include outer-container;
	background-image: url(fort_worth.jpg);
 	color: $darkgray;
}
img{
    max-width: 100%;
    // border-top: 4px solid $gray;
}
section{
	@include span-columns(12);
	img{margin: 0 auto; display:block;}
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
 	font-size:3em;
 	color: #fff;
}
h2, h3{ font-size:2em;}
p{
	font-size:1em;
	@include media($ipad) {font-size:2em;}
	@include media($desktop) {font-size:2em;}
}
#appheader{text-align: center;}
#iss{
	height: 5px; 
	width: 5px; 
	background-color: #fff; 
	border-radius: 50%;
	position: absolute;
	right: -3%;
	top: 10%;
	z-index: -98;

}
#glasscard{
	$cardscale:0.5;
	background-color: transparentize(#fff, 0.9);
	width: 640px*$cardscale;
	height: 360px*$cardscale;
	color: #fff;
	box-sizing: border-box;
    position: relative;
	margin: 0 auto;
	p{font-family: 'Roboto', sans-serif;}
}