@import "normalize";
@import "bourbon";
@import "gridsettings";
@import "neat";
@import "colors";
@import "components";
@import "stars";
//ALL STYLES ARE MOBILE-FIRST, BASED ON IPHONE 5
body{
	@include outer-container;
 	color: $darkgray;
}
img{
    max-width: 100%;
    // border-top: 4px solid $gray;
}
section{
	@include span-columns(12);
	img{margin: 0 auto; display:block;}
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
 	font-size:3em;
 	color: #fff;
}
h2, h3{ font-size:2em;}
p{
	font-size:1em;
	@include media($ipad) {font-size:2em;}
	@include media($desktop) {font-size:2em;}
}
#appheader{text-align: center;}
#iss{
	height: 10px; 
	width: 10px; 
	background-color: #fff; 
	border-radius: 50%;
	position: absolute;
	right: 20px;
	top: 50px;

}